body {
  font-family: monospace;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
#main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#board {
  gap: 20px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  justify-content: center;
  align-items: center;
  font-size: 25vh;
  background-color: bisque;
  width: 25vh;
  height: 25vh;
}
.cell:hover {
  background-color: rgb(229, 205, 176);
}

.clicked:hover {
  background-color: bisque;
}
